extends layout

block content
    h1(class="blockquote text-center", action = "/home", font color='white')
        br
        font(color = 'white', size = '6') Welcome to #{title}
    if movieData
        font(color = 'white', size = '6', position = 'relative') Results for #{searchInput} in #{searchType}
            .card-deck
                - var a = 0;
                each movie in movieData
                    -a++;
                    - if (a<6)
                        .card.text-white.bg-secondary.mb-3.bg-transparent(style='width: 13rem;')
                            a(href=movie.Website)
                                font(color = 'white', size = '2', position = 'relative')
                                    img.card-img-top(src=movie.Poster, width="320",height="auto", alt=movie.Title)
    else if searchData
        font(color = 'white', size = '6', position = 'relative') Results for #{searchInput} in books
            .card-deck
                each book in searchData
                    .card.text-white.bg-secondary.mb-3.bg-transparent(style='width: 13rem;')
                        a(href=book.link)
                            img.card-img-top(src=book.thumbnail, width="320",height="auto", alt=book.title)
                        if book.averageRating
                            - var j = book.averageRating;
                        .row.justify-content-center.no-gutters
                                while j > 0
                                    .col-2
                                        i.fa.fa-star(style='font-size:24px; color: gold')
                                    if (j < 1 && j > 0)
                                        .col-2
                                            i.fa.fa-star-half(style='font-size:24px; color: gold')
                                    - j--;
    else if searchInput
        font(color = 'white', size = '6', position = 'relative') No results for #{searchInput} in #{searchType}
        br
    each keyword in keywordsOrder
        - let topic = books.get(keyword)
            font(color = 'white', size = '8', position = 'relative') 
                .btn-group
                    button.btn.btn-info.btn-lg.dropdown-toggle(type='button', style='font-size : 30px', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        b #{keyword.charAt(0).toUpperCase() + keyword.slice(1)} 
                    .dropdown-menu
                        - for (let [key, topic] of books)
                            - if (key !== keyword)
                                a.dropdown-item(href='#') #{key}
                        form.corm-control(id = 'form1', action = '/home', method = 'post')
                            .form-row
                                input.form-control(type='text', placeholder='Add topic')
                                button.btn.btn-default(type='submit')
                                    i.fa.fa-search
            font(color = 'white', size = '6', position = 'relative')
            .card-deck
                each book in topic
                    .card.text-white.bg-secondary.mb-3.bg-transparent(style='width: 13rem;')
                        a(href=book.link)
                            img.card-img-top(src=book.thumbnail, width="320",height="auto")
                        if book.averageRating
                            - var n = book.averageRating;
                            .row.justify-content-center.no-gutters
                                while n > 0
                                    .col-2
                                        i.fa.fa-star(style='font-size:24px; color: gold')
                                    if n < 1
                                        .col-2
                                            i.fa.fa-star-half(style='font-size:24px; color: gold')
                                    - n--;
