extends layout

block content
  #makinthispretty
    h1(class="blockquote text-center", action = "/home", font color='white')
      br
      font(color = 'white', size = '6') Welcome to #{title}
    if movieData
      font(color = 'white', size = '6', position = 'relative') Results for #{searchInput} in #{searchType}
        .card-deck
          - var a = 0;
          each movie in movieData
            -a++;
            - if (a<6)
              .col-sm
                .card.text-white.bg-secondary.mb-3.bg-transparent(style='width: 12rem;')
                  a(href='/home/movie/' + movie.imdbID)
                    font(color = 'white', size = '2', position = 'relative')
                      img.card-img-top(src=movie.Poster, width="300",height="auto", alt=movie.Title)
    else if searchData
      font(color = 'white', size = '6', position = 'relative') Results for #{searchInput} in books
        .card-deck
          each book in searchData
            .col-sm
              .card.text-white.bg-secondary.mb-3.bg-transparent(style='width: 12rem;')
                a(href=book.link)
                  img.card-img-top(src=book.thumbnail, width="300",height="auto", alt=book.title)
                .row.justify-content-center.no-gutters
                  if book.averageRating
                    - var j = book.averageRating;
                      while j > 0
                        .col-2
                          - if (j < 1 && j > 0)
                              i.fa.fa-star-half(style='font-size:24px; color: gold')
                          - else
                              i.fa.fa-star(style='font-size:24px; color: gold')
                        - j--;
                  if isLoggedIn
                    i.fa.fa-bookmark(style='font-size:24px;')
    else if searchInput
      font(color = 'white', size = '6', position = 'relative') No results for #{searchInput} in #{searchType}
      br
    each keyword in keywordsOrder
      - let topic = books.get(keyword)
        font(color = 'white', size = '8', position = 'relative')
          .btn-group
            button.btn.btn-subject.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', style='font-size: 5.5vmin; margin: 10px; margin-left: 16px; min-width: 130px; width: 14vw; padding-top: 3%;')
              b(style='text-align: center; margin-top: -6vh;') #{keyword.charAt(0).toUpperCase() + keyword.slice(1)}
            .dropdown-menu
              - for (let [key, topic] of books)
                - if (key !== keyword)
                  form(action='/home', method='post')
                    - var topics = [key,keyword];
                    button(name = 'topicDelete', value=key, type='submit', style='float: right; background:transparent; border:none; outline:none;')
                      i.fa.fa-trash-o
                    button(name = 'topicSwitch', value=topics, type='submit', style='overflow: hidden; background:transparent; border:none; outline:none;')
                      a.dropdown-item #{key}
              form(action='/home', method='post')
                button.btn.btn-default(type='submit', style='float: right')
                  i.fa.fa-search
                div(style='overflow: hidden; padding-right: .5em; padding-left: .5em;')
                  input.form-control.mr-sm-2(type='text', name='searchTopic', style='width: 100%;', placeholder='Add Topic')
        //font(color = 'white', size = '6', position = 'relative')
        .card-deck.row.flex-row.flex-nowrap
          each book in topic
            .col-sm
              .card.text-white.bg-secondary.mb-3.bg-transparent.border-0(style='width: 15vw;')
                a(href='/home/'+book.id)
                  img.card-img-top(src=book.thumbnail)
                .row.justify-content-center.no-gutters
                  if book.averageRating
                    - var j = book.averageRating;
                      while j > 0
                        .col-2
                          - if (j < 1 && j > 0)
                            i.fa.fa-star-half(style='font-size:24px; color: gold')
                          - else
                            i.fa.fa-star(style='font-size:24px; color: gold')
                        - j--;
                  if isLoggedIn
                    i.fa.fa-bookmark(style='font-size:24px; color:white')
