extends layout

block content
    h1(class="blockquote text-center", action = "/home", font color='white')
        br
        font(color = 'white', size = '6') Welcome to #{title}
    if movieData
        font(color = 'white', size = '6', position = 'relative') Results for #{searchInput} in #{searchType}
            .card-deck
                each movie in movieData
                    .card.text-white.bg-secondary.mb-3.bg-transparent(style='width: 13rem;')
                        a(href=movie.Website)
                            img.card-img-top(src=movie.Poster, width="320",height="auto", alt=movie.Title)
                        if movie.imdb_rating
                            - var j = floor(movie.imdb_rating) / 2
                        .row.justify-content-center.no-gutters
                                while j > 0
                                    .col-2
                                        i.fa.fa-star(style='font-size:24px; color: gold')
                                    if j < 1
                                        .col-2
                                            i.fa.fa-star-half(style='font-size:24px; color: gold')
                                    - j--;
    else if searchData
        font(color = 'white', size = '6', position = 'relative') Results for #{searchInput} in books
            .card-deck
                each book in searchData
                    .card.text-white.bg-secondary.mb-3.bg-transparent(style='width: 13rem;')
                        a(href=book.link)
                            img.card-img-top(src=book.thumbnail, width="320",height="auto", alt=book.title)
                        if book.averageRating
                            - var j = book.averageRating;
                        .row.justify-content-center.no-gutters
                                while j > 0
                                    .col-2
                                        i.fa.fa-star(style='font-size:24px; color: gold')
                                    if j < 1
                                        .col-2
                                            i.fa.fa-star-half(style='font-size:24px; color: gold')
                                    - j--;
    else if searchInput
        font(color = 'white', size = '6', position = 'relative') No results for #{searchInput} in #{searchType}
        br
    - for (let [keyword, topic] of books) 
        font(color = 'white', size = '6', position = 'relative') #{keyword.charAt(0).toUpperCase() + keyword.slice(1)} books
        .card-deck
            each book in topic
                .card.text-white.bg-secondary.mb-3.bg-transparent(style='width: 13rem;')
                    a(href=book.link)
                        img.card-img-top(src=book.thumbnail, width="320",height="auto")
                    if book.averageRating
                        - var n = book.averageRating;
                        .row.justify-content-center.no-gutters
                            while n > 0
                                .col-2
                                    i.fa.fa-star(style='font-size:24px; color: gold')
                                if n < 1
                                    .col-2
                                        i.fa.fa-star-half(style='font-size:24px; color: gold')
                                - n--;
