extends layout

block content
    if movieData
        font(color = 'white')
            h1 Results for #{searchInput} in #{searchType}s
            - var a = 0;
            each movie in movieData
                -a++;
                - if (a<6)
                    a(href='/home/movie/' + movie.imdbID)
                        img(src=movie.Poster, width = '160', height='auto', alt=movie.Title)
        br
    else if bookData
        font(color = 'white')
            h1 Results for #{searchInput} in #{searchType}s 
            - var a = 0;
            each book in bookData
                -a++;
                - if (a<6)
                    a(href='/home/' + book.id)
                        img(src=book.thumbnail, width = '160', height='auto', alt=book.title)
        br
    else
        if user
            font(color = 'white')
                h1 Your Movies
                - var a = 0;
                each movie in user.watchedMovies
                    -a++;
                    - if (a<12)
                        a(href='/home/movie/' + movie.id)
                            font(color = 'white', size = '2', position = 'relative')
                                img(src=movie.poster, width='160',height="auto", alt=movie.name)
                h1 Your Books
                - var b = 0;
                each book in user.readBooks
                    -b++;
                    - if (b<12)
                        a(href='/home/' + book.id)
                            font(color = 'white', size = '2', position = 'relative')
                                img(src=book.poster, width='160',height="auto", alt=book.name)







        