extends layout

block content
    font(color = 'white')
        h1 #{movieData.Title}
    if movieData.Poster
        a(href=movieData.Websiteink)
            img(src=movieData.Poster)
    font(color = 'white')  
        h5 #{movieData.Plot}
    font(color = 'white', size = '4', position = 'relative')  
        h3 Featuring: #{movieData.Actors}
    if isLoggedIn
        form(action='/home/movie/' + movieData.imdbID, method='post')
            button.btn.btn-default(type='submit', style='float: right')
                i.fa.fa-bookmark(style='font-size:24px; color:green')