extends layout

block content
    h1(class="blockquote text-center", action = "/home", font color='white')
        br
        font(color = 'white', size = '6') Welcome #{user.googlename}
    if !user.phoneNumber
        form.form-inline.my-2.my-lg-0(action='/profile/addNumber/', method='post')
            input.form-control.mr-sm-2(type='search', placeholder='Enter number', aria-label='Search', name = 'numberInput')
            button.btn.btn-secondary(type='submit') Add a phone number
    else
        form.form-inline.my-2.my-lg-0(action='/profile/addNumber/', method='post')
            input.form-control.mr-sm-2(type='search', placeholder=user.phoneNumber, aria-label='Search', name = 'numberInput')
            button.btn.btn-secondary(type='submit') Change phone number
    .row
        .col
        if user.readBooks.length > 0
            br
            font(color = 'white', size = '5', position = 'relative', style = 'float: left') Recently read
                .row
                    .card.border-0
                    - var a = 0;
                    each book in user.readBooks
                        -a++;
                        - if (a<6)
                            .card.text-white.bg-secondary.mb-3.bg-transparent(style='width: 25%;')
                                a(href='/home/' + book.url)
                                    font(color = 'white', size = '2', position = 'relative')
                                        img.card-img-top(src=book.poster, width="240",height="auto", alt=book.name)
        .col
        if user.watchedMovies.length > 0
            br
            font(color = 'white', size = '5', position = 'relative', style = 'float: left') Recently watched
                .row
                    .card.border-0
                    - var a = 0;
                    each movie in user.watchedMovies
                        -a++;
                        - if (a<6)
                            .card.text-white.bg-secondary.mb-3.bg-transparent(style='width: 25%;')
                                a(href='/home/movie/' + movie.url)
                                    font(color = 'white', size = '2', position = 'relative')
                                        img.card-img-top(src=movie.poster, width="240",height="auto", alt=movie.name)
