extends layout

block content
    font(color = 'white', size = '12') 
        h1 Welcome #{user.googlename}
    font(color = 'white', size = '5') 
        h2 Profile information
    if !user.phoneNumber
        form.form-inline.my-2.my-lg-0(action='/profile/addNumber/', method='post')
            input.form-control.mr-sm-2(type='search', placeholder='Enter number', aria-label='Search', name = 'numberInput')
            button.btn.btn-secondary(type='submit') Add a phone number
    else
        form.form-inline.my-2.my-lg-0(action='/profile/addNumber/', method='post')
            input.form-control.mr-sm-2(type='search', placeholder=user.phoneNumber, aria-label='Search', name = 'numberInput')
            button.btn.btn-secondary(type='submit') Change phone number
    br
    if !user.emailAddress
        form.form-inline.my-2.my-lg-0(action='/profile/addEmail/', method='post')
            input.form-control.mr-sm-2(type='search', placeholder='Enter email', aria-label='Search', name = 'emailInput')
            button.btn.btn-secondary(type='submit') Add an Email address
    else
        form.form-inline.my-2.my-lg-0(action='/profile/addEmail/', method='post')
            input.form-control.mr-sm-2(type='search', placeholder=user.emailAddress, aria-label='Search', name = 'numberInput')
            button.btn.btn-secondary(type='submit') Change email 
    if user.friends.size > 0
        br
        font(color = 'white', size = '5') 
            h3 Friends
    else
            font(color = 'white', size = '5') No friends yet, go add some :)
            form.form-inline.my-2.my-lg-0(action='/friends/', method='get')
                button.btn.btn-primary(type='submit') Find some friends
    - values = Array.from(user.friends.values());
        each val in values
            .card(style='width: auto;')
                    .card-body
                        h5.card-title #{val.name}
                        h5 Call #{val.phone}
                        form.form-inline.my-2.my-lg-0(action='/friends/removeFriend', method='post')            
                            button.btn.btn-danger(type='submit', name='friendRemove',value=val.id) Remove friend
